<!DOCTYPE html>
<html lang="en">
<head>

<title>your RSS Reader</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
</head>

<nav class="navbar navbar-dark bg-dark">
    <h2 style="color:darkgrey">Your RSS reader Input </h2>

</nav>

<body>
<div class='card-header'>
YOUR URLS FEED LIST
</div>
{% block content %}{% endblock %}
</div>
<div class='card'>
<div class='card-header'>
ADD NEW URL & LOAD FEEDS
</div>
</div>
{% block body %}{% endblock %}

</body>

</html>